* {
    margin: 0;
    padding: 0;
}
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
    background-color: rgb(78, 157, 231);
    z-index: 15;
    cursor: url("imgs/crosshairs.png") 16 16, auto;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url("imgs/stage-screen.png");
    background-size: 100% 100%;
    pointer-events: none;
}

#game-info {
    display: grid;
    grid-template-columns: .5fr repeat(3, 1fr) .5fr 1fr;
    grid-template-rows: .5fr repeat(2, 45vh) .5fr;
}

#display-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.round-container {
    color: #a7c957;
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
    width: 2.2em;
    height: 1.6em;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid #a7c957;
    border-radius: .25em;
    padding: .05em;
    grid-column: 2;
    grid-row: 4;
    justify-items: center;
}

.shot-container {
    grid-column: 3;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 4em;
    height: 3em;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid #a7c957;
    border-radius: .25em;
}

.bullets {
    content: url(imgs/bullet.png);
    grid-row: 1;
    padding-top: .26em;
    padding-left: .26em;
}

.shot {
    color: skyblue;
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / 4;
    position: relative;
}

.hit-container {
    grid-column: 4;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 16em;
    height: 3em;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid #a7c957;
    border-radius: .25em;
    padding: .18em;
}

.hit {
    color: #a7c957;
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: start;
    grid-column: 1;
    grid-row: 1 / 3;
    position: relative;
}

.duck-item {
    content: url(/imgs/white_duck.png);
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.min-ducks {
    color: skyblue;
    font-size: 10px;
    font-family: "Times New Roman";
    grid-row: 2;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: center;
}

.score-container {
    grid-column: 6;
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    width: 4.2em;
    height: 3em;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid #a7c957;
    border-radius: .25em;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
    font-weight: bold;
    padding-right: .05em;
}

.round-alert {
    width: 180px;
    height: 120px;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid white;
    border-radius: .5em;
    font-size: 30px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.perfect-score {
    width: 190px;
    height: 100px;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid white;
    border-radius: .5em;
    font-size: 30px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fly-away {
    width: 190px;
    height: 100px;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid white;
    border-radius: .5em;
    font-size: 30px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-over {
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    background-color: black;
    border: 0.2em solid white;
    border-radius: .5em;
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.start > button {
    transform: scale(3);
    padding: .5em;
    background-color: #a7c957;
    color: white
}

.hidden {
    display: none;
}